@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApStudentEnrolment.Models.Enrolment
    @{
    ViewData["Title"] = "Enrolment Details";
}
<h1>Enrolment Details</h1>

<div>
    <h4>Enrolment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrolmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrolmentDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
      
</div>

<div>
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>



