@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<WebApStudentEnrolment.Models.Enrolment>
 <!--IEnumerable<WebApStudentEnrolment.Models.ViewModel>-->

@{
    ViewData["Title"] = "Enrolments";
}
<h1>Enrolments</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
<div class="input-group">
        <input type="text" name="searchTerm" class="form-control" placeholder="Search tasks..." value="bycourse" />
    <button type="submit" class="btn btn-primary">Search</button>
</div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrolmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrolmentDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
   </tbody>
</table>
